/* fonts and basic setup */
* {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    color: #44585d;
}

body, html {
    height: 100vh;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

/* App specific styles */
.App {
    text-align: center;
    width: 100vw; /* Set the width to 100% of the viewport width */
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow-x: hidden; /* Hide horizontal overflow */
}

.header {
    margin-top: 20px;
}

.loginBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%; /* Set width to 100% */
}



.userInfo {
    margin-bottom: 10px;
}

.chatMessages {
    width: 100%; /* Set width to 100% */
    overflow-y: auto; /* Remove max-height to allow full height */
}


.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.userAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.messageText {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 300px; /* Set a fixed width for the input container */
}

.messageInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    max-width: calc(100% - 100px); /* Set a maximum width for the input */
    word-wrap: break-word; /* Allow long words to break and wrap to the next line */
}

.sendBtn,
.logoutBtn {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sendBtn:hover,
.logoutBtn:hover {
    background-color: #357ae8;
}

/* Define CSS classes for sent and received messages */
.sentMessage {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.receivedMessage {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

/* Style for message container */
.messageContainer {
    max-width: 70%;
}

/* Custom scrollbar styles */
.container {
    background-color: #fdfdfd;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 4px 28px rgba(123,151,158,.25);
    border: 1px solid #d6dee1;
    padding: 1rem;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Additional styles */
/* Add your additional styles here */
